* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --font: black;
    --purple: #ad4fd8;
}

body {
    background-color: white;
    flex-direction: column;
    display: flex;
}
    
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(78, 76, 80);
    color: var(--font);
}

.header h1 {
    display: inline-block;
    font-size: 48px;
    color: var(--purple);
}

.header nav {
    padding-top: 20px;
    margin-right: 30px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: var(--purple);
    text-decoration: underline;
}

p {
    font-size: 25px;
}

.image {
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./Assets/images/jacob-stone-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

.about-me-img {
    height: 300px;
    width: 300px;
    padding: 10px;
    display: block;
    border-radius: 50px;
    position: absolute;
    left: 300px;
    top: 660px;
}

h2 {
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 50px;
    height: 120px;
    width: 400px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 36px;
    color: var(--purple);
    border-bottom: var(--purple);
    text-decoration: underline;
}

.align-right {
    margin-bottom: 10px;
    margin-left: 400px;
    padding: 10px;
    height: 120px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--purple);
    width: fit-content;
    display: inline;
    position: right;
    float: right;
    flex-wrap: wrap;
}

.card {
    border: none;
    color: var(--purple);
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

.contact {
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}

.first {
    height: 500px;
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 400px;
    padding: 10px;
    border-color: blueviolet;
}

.list {
    display: inline;
    padding: 20px;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    width: 100%;
    bottom: 0;
    padding: 30px;
    text-align: center;
    background: rgb(78, 76, 80);
    color: var(--purple);
    margin-top: 20px;
  }

.nav-links a {
    background: linear-gradient(to bottom, #ad88dd 0%, #725a97 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
    padding: 8px;
    color: var(--purple);
    text-decoration: none;
    transition: background-size 0.2s;
}

.nav-links a:hover {
    background-size: 4px 50px;
    color: #ad88dd;
}

.contact a:hover {
    background-size: 4px 50px;
    color: #ad88dd;
}

.work {
    align-items: center;
    position: relative;
    display: grid;
}

.contact a {
    background: linear-gradient(to bottom, #ad88dd 0%, #725a97 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
    padding: 8px;
    color: var(--purple);
    text-decoration: none;
    transition: background-size 0.2s;
}

.container {
    position:relative;
    text-align: center;
}

.bottom-left {
    position: absolute;
    bottom: -140px;
    left: 16px;
    margin-left: 400px;
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    color:var(--purple);
    background-color: rgb(193, 131, 212);
}
